<div class="vertical-align-helper"></div>
    <div id="pokemon-content">
        <i class="fa fa-times close-button"></i>
        {{#if Favorite}}
        <i class="fa fa-star pokemon-info-favorite" aria-hidden="true"></i>
        {{/if}}
        <h1 id="pokemon-info-name">{{Name}}</h1>
        {{#if Nickname}}
        <h2 id="pokemon-info-nickname">{{Nickname}}</h2>
        {{/if}}
        <img id="pokemon-info-image" src="images/pokemon/{{PokemonId}}.png"/>
        <div id="pokemon-type">
            {{#each PokemonTypes}}
                <span class="{{this}}">{{this}}</span>
            {{/each}}
        </div>
        <div id="pokemon-iv">
            <div> Attack <span class="attack">{{IndividualAttack}}</span> </div>
            <div> Defense <span class="defense">{{IndividualDefense}}</span> </div>
            <div> Stamina <span class="stamina">{{IndividualStamina}}</span> </div>
        </div>
        <div class="total-iv">{{round Perfection 2}}%</div>
        <div class="poke-cp">{{Cp}}</div>
        <div class="move move1">{{Move1Name}}</div>
        <div class="move move2">{{Move2Name}}</div>
        <div class="pkm-candies">
            <span id="pkm-candies-val">{{FamilyCandies}}</span>
            <span id="pkm-candies-req"></span>
        </div>

        <div class="controls">
            <div id="transfer-pokemon-button" class="pokemon-info-button" tabindex="-1">
                <div class="confirm">are you sure? <span id="confirm-transfer" class="confirm-button">yes</span></div>
                <i class="fa fa-trash fa-lg"></i> transfer
            </div>
            <div id="evolve-pokemon-button" class="pokemon-info-button" tabindex="-1">
                <div class="confirm">are you sure? <span id="confirm-evolve" class="confirm-button">yes</span></div>
                <div class="button-disabled-reason">Don't even try</div>
                <i class="fa fa-arrow-circle-up fa-lg"></i>
                <span id="evolve-pokemon-button-text">evolve</span>
            </div>
            <div id="upgrade-pokemon-button" class="pokemon-info-button" tabindex="-1">
                <div class="confirm">are you sure? <span id="confirm-upgrade" class="confirm-button">yes</span> <span id="confirm-upgrade-max" class="confirm-button">max</span></div>
                <i class="fa fa-rocket fa-lg"></i> Upgrade
            </div>

        </div>
    </div>