<div class="iw-wrap iw-selected-possition">
    <div class="iw-status"> MOVE TO HERE ? </div>
    <img id="current-position-move" src="images/move.svg" alt="{{Name}} icon" class="iw-icon">
    <div class="iw-header iw-name">
        <span class="iw-detail-header">Lat: {{roundCoord Latitude}}, </span>
        <span class="iw-detail-header">Lng:{{roundCoord Longitude}}</span>
    </div>
    <div class="iw-content">
        <div class="iw-detail iw-latitude">
            <span class="iw-detail-header">Latitude</span>
            <span class="iw-detail-value">{{roundCoord Latitude}}</span>
        </div>
        <div class="iw-detail iw-longitude">
            <span class="iw-detail-header">Longitude</span>
            <span class="iw-detail-value">{{roundCoord Longitude}}</span>
        </div>
    </div>
</div>